body{
    background-color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .nav-left, .nav-right {
    display: flex;
  }
  
  .nav-left a, .nav-right a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }
  
  .nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-center img {
    max-width: 250px; 
  }
  a:hover{
      color:orange;
  }